@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #1f244d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: blue;
  --PhoneInputCountryFlag-aspectRatio: 1.5;
}

.PhoneInput--focus .PhoneInputInput {
  outline: none;
}

.custom-btn-outline {
  @apply bg-[var(--main-color)] text-white py-1 px-2 rounded-lg border-2 border-[var(--main-color)] hover:bg-transparent hover:text-[var(--main-color)] duration-500;
}

.login-container {
  min-height: 100vh;
  width: 100vw;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 400px;
  padding: 20px;
  background-color: rgba(83, 83, 236, 0.078);
  border: 2px solid blue;
  border-radius: 5px;
}

.form-input {
  @apply border border-[var(--main-color)] w-full outline-none py-1 px-2 rounded md:text-lg  mt-1;
}

.lgin-btn {
  @apply bg-[var(--main-color)] text-white p-1 w-12 h-12 border-2 border-[var(--main-color)] hover:bg-transparent hover:text-[var(--main-color)] duration-500  rounded-full text-3xl flex items-center justify-center;
}

.modal-cls-btn {
  @apply absolute -top-3 -right-3 bg-red-500 w-8 h-8 text-2xl text-white rounded-full flex items-center justify-center;
}

.table-btn-layout {
  @apply md:text-xl text-white py-2 md:px-3 px-2 rounded;
}

.form-title {
  @apply md:text-3xl text-xl text-center text-[var(--main-color)] font-bold md:mb-4 mb-2;
}
